<div class="preloader"></div>
<audio preload="auto" id="music" autoplay loop>
  <source src="music/karunesh_follow_your_heart.mp3" type="audio/mp3" />
  <source src="music/karunesh_follow_your_heart.ogg" type="audio/ogg" />
</audio>

<! -- ******************** MASTHEAD SECTION ******************** -->
<main id="top" class="masthead" role="main">
  <div class="container">
    <div id="map-canvas"></div>
    <div id="story-caption">Love Story</div>
	<a href="index.html#explore" class="scrollto">
	  <p class="scrollto--arrow"><img src="images/scroll_down.png" alt="scroll down arrow"></p>
	</a>
  </div><! --/container -->
</main><! --/main -->

<! -- ******************** TESTIMONIALS SECTION ******************** -->
<div class="highlight testimonials">
  <div class="container">
	<div class="section-title">
	  <h2>一拜天地</h2>
	</div>

	<section class="row breath">
	  <div class="col-md-6">
		<div class="testblock">白日依山尽</div>
		<div class="clientblock">
		  <img src="assets/gravatar_m.png" alt=".">
		  <p><strong>王敏</strong> <br>
            妞
		  </p>
		</div>
	  </div><! --/col-md-6 -->

	  <div class="col-md-6">
		<div class="testblock">黄河入海流</div>
		<div class="clientblock">
		  <img src="assets/gravatar_x.png" alt=".">
		  <p><strong>肖晗宇</strong> <br>
            爷
		  </p>
		</div>
	  </div><! --/col-md-6 -->
	</section><! --/section -->

  </div><! --/container -->
</div><! --/highlight Testimonials -->

<!-- testimonials 2 -->
<div class="testimonials">
  <div class="container">
	<div class="section-title">
	  <h2>二拜高堂</h2>
	</div>

	<section class="row breath">
	  <div class="col-md-6">
		<div class="testblock">白日依山尽</div>
		<div class="clientblock">
		  <img src="assets/gravatar_m.png" alt=".">
		  <p><strong>王敏</strong> <br>
            妞
		  </p>
		</div>
	  </div><! --/col-md-6 -->

	  <div class="col-md-6">
		<div class="testblock">黄河入海流</div>
		<div class="clientblock">
		  <img src="assets/gravatar_x.png" alt=".">
		  <p><strong>肖晗宇</strong> <br>
            爷
		  </p>
		</div>
	  </div><! --/col-md-6 -->
	</section><! --/section -->

  </div><! --/container -->
</div><! --/Testimonials -->

<!-- testimonials 3 -->
<div class="highlight testimonials">
  <div class="container">
	<div class="section-title">
	  <h2>夫妻对拜</h2>
	</div>

    <section class="row breath">
	  <div class="col-md-6">
		<div class="testblock">白日依山尽</div>
		<div class="clientblock">
		  <img src="assets/gravatar_m.png" alt=".">
		  <p><strong>王敏</strong> <br>
            妞
		  </p>
		</div>
	  </div><! --/col-md-6 -->

	  <div class="col-md-6">
		<div class="testblock">黄河入海流</div>
		<div class="clientblock">
		  <img src="assets/gravatar_x.png" alt=".">
		  <p><strong>肖晗宇</strong> <br>
            爷
		  </p>
		</div>
	  </div><! --/col-md-6 -->
	</section><! --/section -->


  </div><! --/container -->
</div><! --/highlight Testimonials -->

<main class="footercta" role="main">
  <div class="container">
	<h1>The Most Simple & <strong>Powerful Way</strong> <br>
	  to <strong>launch</strong> your product</h1>

	<div class="row">
	  <div class="col-md-12 breath text-center">
		<a href="index.html#top" class="btn btn-success btn-lg gototop">GET EARLY ACCESS</a>
	  </div>
	</div>
  </div><! --/container -->
</main><! --/main -->

<div class="container">
  <section class="row breath">
    <div class="row centered">
	  <div class="col-md-12 footerlinks">
        <p>
          Xiao Hanyu 2014 - Powered by <a href="http://rubyonrails.org/">Rails</a>, <a href="http://getbootstrap.com/">Bootstrap</a> - Licensed under <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"></a>
        </p>
	  </div>
    </div>
  </section><! --/section -->
</div><! --/container -->

<script src="assets/pace.js"></script>
<script src="assets/bootstrap.js"></script>
<script src="assets/easing.js"></script>
<script src="assets/nicescroll.js"></script>
<script>
 $(function() {
   $('.scrollto, .gototop').bind('click',function(event){
	 var $anchor = $(this);
	 $('html, body').stop().animate({
       scrollTop: $($anchor.attr('href')).offset().top
     }, 1500,'easeInOutExpo');
     event.preventDefault();
   });
 });
</script>
